@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --primary-color: #2d2d2d;
  --secondary-color: #ffffff;
  --brand-color: #00963e;
  --brand2-color: #32d600;
  --radiusfull: 100%;

  /* space */
  --py15: 15px 0;
  --px15: 15px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--secondary-color);
  color: var(--primary-color);
  scroll-behavior: smooth;
  position: relative;
  font-size: 14px;
  font-family: "Patrick Hand", cursive;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
