@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2d2d2d;
  --secondary-color: #ffffff;
  --brand-color: #00963e;
  --brand2-color: #32d600;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--secondary-color);
  color: var(--primary-color);
  scroll-behavior: smooth;
}
